target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.nextReleaseBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/plugins/
.factorypath

.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

HELP.md
log/
*.log
.DS_Store
Thumbs.db